button,
.button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	border: 3px solid;
	border-color: $color__border-button;
	border-radius: 0px;
	background: $color__background-button;
	color: white;
	@include font-size(0.9);
	line-height: 1;
	padding: .8em 3em .8em;
	text-transform: uppercase;
	text-decoration: none;
	

	&:visited {
		color: white;
	}

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
